# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Flask
instance/
*.log

# Database
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Node (if any frontend later)
node_modules/

# Build / dist
build/
dist/
*.egg-info/
